<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{siteTitle}}</title>

  <link href="/bower_components/materialize/dist/css/materialize.min.css" media="all" rel="stylesheet" />
  <link href="/css/app.css" media="all" rel="stylesheet" />

  <script src="/js/ios-orientationchange-fix.js"></script>
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/react/JSXTransformer.js"></script>
  <script src="/bower_components/react/react.min.js"></script>
  <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
  <!--<script src="/bower_components/socket.io-client/socket.io.js"></script>-->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</head>

<body lang="en">

<!--  <header id="layout-marker">
    Layout Loaded
  </header> -->

  <div id="canvas" class="container">
        {{{body}}}
  </div>

</body>

</html>
